


.piano {
    position: absolute;
    top:30%;
    left:25%;
    max-height:500px;
    width: 50%;
    margin:auto;
}

#image-part {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.white {
    width: 4.28%;
    height: 40%;
}

#c3{
    opacity: 0.1
}
#d3{
    opacity: 0.1
}
#e3{
    opacity: 0.1
}
#f3{
    opacity: 0.1
}
#g3{
    opacity: 0.1
}
#a3{
    opacity: 0.1
}
#b3{
    opacity: 0.1
}
#c4{
    opacity: 0.1
}
#d4{
    opacity: 0.1
}
#e4{
    opacity: 0.1
}
#f4{
    opacity: 0.1
}

#g4{
    opacity: 0.1
}

#a4{
    opacity: 0.1
}
#b4{
    opacity: 0.1
}

#db3{
    opacity: 0.5
}
#eb3{
    opacity: 0.5
}
#gb3{
    opacity: 0.5
}#ab3{
    opacity: 0.5
}#bb3{
    opacity: 0.5
}#db4{
    opacity: 0.5
}#eb4{
    opacity: 0.5
}#gb4{
    opacity: 0.5
}
#ab4{
    opacity: 0.5
}
#bb4{
    opacity: 0.5
}

.white:hover{
    opacity: 0.3;}


.black{
    opacity: 0.5;
    background-color: white;
    height: 23%;
    width: 2.30%;
    z-index: 1;
}

.black:hover{
    opacity: 0;    
}


.highlight {
    position: absolute;
    top: 30%
}


